.page-main-top
    height 450px
    width 100%
    display flex
    flex-direction row
    margin-bottom 20px
.page-main-carousel
    height 450px
    width 600px
.page-main-category
    display grid
    grid-template-columns 1fr 1fr
    grid-column-gap 15px
    box-sizing border-box
    padding-left 15px
    grid-row-gap 22.25px
.page-main-center
    header
        display flex
        justify-content space-between
        align-items center
    .main-center-recommend-movie
        width 100%
        height 600px
        display flex
        flex-direction row
        flex-wrap wrap



